<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AzureBakOpenAIEndpoint" value="https://rdc-north-ai-demo.openai.AzureBak.com/" />
		<add key="AzureBakOpenAIKey" value="291c8602c5fc4276b4838c1e9e2f1e9d" />  
		<add key="AzureBakOpenAIModel" value="rdc-gpt-16-north" />
		<add key="AzureBakOpenAIEndpoint2" value="https://rdc-openai-sweden.openai.AzureBak.com/" />
		<add key="AzureBakOpenAIKey2" value="5a587061c4f544b8a2af61f8b72042ec" />
		<add key="AzureBakOpenAIModel2" value="gpt-4-sweden" />

		<add key="AzureOpenAIEndpoint" value="https://rdc-azure-openai.openai.azure.com/" />
		<add key="AzureOpenAIKey" value="7f62683640264f0d876d6e3ecb277d8b" />  
		<add key="AzureOpenAIModel" value="gpt-4o" />
	</appSettings>
</configuration>
